/* Moodlight plugin : http://www.boolean.me */	
.moodlight_color {
	color: #FFFFFF;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 19px;
	margin: 2px;
	text-align: center;
	width: 20px;
	border: 1px solid #000;
}
.moodlight_container {
	overflow: hidden;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.moodlight_label {
	float: left;
	width: 100px;
	line-height: 17px !important;
}
	.moodlight_label input {
		margin-top:7px !important;
		vertical-align:bottom !important;
	}
.moodlight_post {
	color: #FFF;
	font-weight: bold;
	width: auto;
	padding: 5px;
	margin: 5px;
}
.moodlight_comment {
	color: #FFF;
	font-weight: bold;
	width: auto;
	padding: 5px;	
	margin-top: 5px;
	margin-right: 5px;
	float: left;
}
.moodlight_stats_bar {
	width: 15px;
	margin-left: 1px;
	float: left;
	border: 1px solid #000;
	text-align:center;
	font-size: 8px;
	color: #FFF;
}
